<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link text-light" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" [routerLink]="['/counter']">Counter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" [routerLink]="['/posts']">Posts</a>
            </li>
            <li class="nav-item" *ngIf="!(isAthenticated | async)">
                <a class="nav-link text-light" [routerLink]="['/auth']">Login</a>
            </li>
            <li class="nav-item" *ngIf="!(isAthenticated | async)">
                <a class="nav-link text-light" [routerLink]="['/auth/signup']">Sign Up</a>
            </li>
            <li class="nav-item" *ngIf="isAthenticated | async">
                <a class="nav-link text-light" [routerLink]="['/auth']">Logout</a>
            </li>
        </ul>
    </div>
</nav>