<a [routerLink]="['/posts/add']" class="btn btn-md btn-primary my-2">Add</a>
<div class="row">
    <div class="col-md-7">
        <table class="table table-striped" *ngIf="posts| async as postData">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of postData">
                    <td>{{data?.id}}</td>
                    <td>{{data?.title}}</td>
                    <td>{{data?.description}}</td>
                    <td>
                        <a [routerLink]="['edit', data.id]"  class="btn btn-sm btn-success">Update</a>
                        <a (click)="deletePost(data.id)" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <router-outlet></router-outlet>
    </div>
</div>